<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-6">
            <form [formGroup]="form" (ngSubmit)="enviarFormulario()" *ngIf="isLoaded">
                <div class="form-group">
                    <label for="nombre">Nombre *</label>
                    <input type="text" formControlName="nombre" class="form-control" id="nombre" placeholder="Nombre del heroe">
                    <span class="text-center text-danger" *ngIf="form.get('nombre').status != 'VALID' && form.get('nombre').touched">Campo obligatorio</span>
                </div>
                <div class="form-group">
                    <label for="descripcion">Bio *</label>
                    <input type="text" formControlName="bio" class="form-control" id="descripcion" placeholder="Descripcion corta">
                    <span class="text-center text-danger" *ngIf="form.get('bio').status != 'VALID' && form.get('bio').touched">Campo obligatorio</span>
                </div>
                <div class="form-group">
                    <label for="casa">Casa * </label>
                    <select class="form-control" formControlName="casa" id="casa">
                        <option selected disabled>Elegir casa</option>
                        <option value="Marvel">Marvel</option>
                        <option value="DC">DC</option>
                    </select>
                    <span class="text-center text-danger" *ngIf="form.get('casa').status != 'VALID' && form.get('casa').touched">Campo obligatorio</span>
                </div>
                <div class="form-group">
                    <label for="fecha_nacimiento">Aparicion *</label>
                    <input type="date" formControlName="aparicion" id="aparicion" class="form-control">
                    <span class="text-center text-danger" *ngIf="form.get('aparicion').status != 'VALID' && form.get('aparicion').touched">Campo obligatorio</span>
                </div>
                <div class="form-group">
                    <label for="img">Image</label>
                    <input type="text" formControlName="img" id="img" class="form-control">
                </div>
                <button type="submit" [disabled]="form.invalid" class="btn btn-primary btn-block">{{message}}</button>
            </form>
        </div>
    </div>
</div>
