<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand text-white" routerLink="heroes">Heroes</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <div class="navbar-nav">
            <li class="nav-item active" *ngFor="let leftRoute of leftRoutes">
                <a class="nav-link text-white"
                    *ngIf="isLogged"
                    [routerLink]="leftRoute.link">{{leftRoute.description}}</a>
            </li>
        </div>
        <div class="navbar-nav ml-auto">
            <li class="nav-item active" *ngFor="let rigthRoutes of rigthRoutes">
                <a class="nav-link text-white"
                    *ngIf="(isLogged && rigthRoutes.showIfLoaded) || (!isLogged && !rigthRoutes.showIfLoaded)"
                    [routerLink]="rigthRoutes.link">{{rigthRoutes.description}}</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-white" *ngIf="isLogged" style="cursor: pointer;" (click)="logout()">Logout</a>
            </li>
        </div>
    </div>
</nav>