<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="card mt-5">
                <div class="card-body">
                    <form [formGroup]="form" (ngSubmit)="auth()" *ngIf="isLoaded">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" formControlName="email" class="form-control" id="email"
                                placeholder="example@address.com">
                            <span class="text-center text-danger"
                                *ngIf="form.get('email').status != 'VALID' && form.get('email').touched">Campo
                                obligatorio</span>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" formControlName="password" class="form-control" id="password"
                                placeholder="Eg. ********">
                            <span class="text-center text-danger"
                                *ngIf="form.get('password').status != 'VALID' && form.get('password').touched">Campo
                                obligatorio</span>
                        </div>
                        <button type="submit" [disabled]="form.invalid"
                            class="btn btn-primary btn-block">Login</button>
                    </form>
                </div>
            </div>
            <div class="card mt-1">
                <div class="card-body text-center">
                    <small>¿No tienes cuenta? <a class="text-primary" style="cursor: pointer;" (click)="register()">Registrate</a> </small>
                </div>
            </div>
        </div>
    </div>
</div>
