<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="form" (ngSubmit)="enviarFormulario()" *ngIf="isLoaded">
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input type="text" formControlName="nombre" class="form-control" id="nombre"
                                placeholder="Nombre">
                            <span class="text-center text-danger"
                                *ngIf="form.get('nombre').status != 'VALID' && form.get('nombre').touched">Campo
                                obligatorio</span>
                        </div>
                        <div class="form-group">
                            <label for="apellido">Apellido</label>
                            <input type="text" formControlName="apellido" class="form-control" id="apellido"
                                placeholder="Apellido">
                            <span class="text-center text-danger"
                                *ngIf="form.get('apellido').status != 'VALID' && form.get('apellido').touched">Campo
                                obligatorio</span>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" formControlName="email" class="form-control" id="email"
                                placeholder="example@address.com">
                            <span class="text-center text-danger"
                                *ngIf="form.get('email').status != 'VALID' && form.get('email').touched">Campo
                                obligatorio</span>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" formControlName="password" class="form-control" id="password"
                                placeholder="Eg. ********">
                            <span class="text-center text-danger"
                                *ngIf="form.get('password').status != 'VALID' && form.get('password').touched">Campo
                                obligatorio</span>
                        </div>
                        <div class="form-group">
                            <label for="password_confirm">Confirmar Password</label>
                            <input type="password" formControlName="password_confirm" class="form-control" id="password_confirm"
                                placeholder="Eg. ********">
                            <span class="text-center text-danger"
                                *ngIf="form.get('password_confirm').status != 'VALID' && form.get('password_confirm').touched">Campo
                                obligatorio</span>
                        </div>
                        <button type="submit" [disabled]="form.invalid || form.value.password!=form.value.password_confirm"
                            class="btn btn-primary btn-block">Registrarse</button>
                    </form>
                </div>
            </div>
            <div class="card mt-1">
                <div class="card-body text-center">
                    <small>¿Ya tienes cuenta? <a class="text-primary" style="cursor: pointer;" (click)="login()">Login</a> </small>
                </div>
            </div>
        </div>
    </div>
</div>
