<div class="container mt-5">
  <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" *ngFor="let heroe of heroes">
          <div class="card" style="width: 100%;">
              <img [src]="heroe.img" *ngIf="heroe.img!=null" class="card-img-top" [alt]="heroe.nombre">
              <div class="card-body">
                <h5 class="card-title">{{heroe.nombre}}</h5>
                <p class="card-text">{{heroe.bio}}</p>
                <div>
                  <small>{{heroe.casa}} | {{heroe.aparicion | date : 'fullDate'}}</small>
                </div>
                <a routerLink="/heroe/{{heroe._id}}" class="btn btn-primary btn-block mt-3">Ver más</a>
              </div>
            </div>
      </div>
  </div>
</div>

