<div class="container mt-5">
    <h1>{{heroe.nombre}}</h1>
    <div class="row">
        <div class="col-5">
            <img [src]="heroe.img" style="width:100%; height:auto;" alt="">
        </div>
        <div class="col-7 justify-content-center align-items-center" style="height:50vh;">
            <h4>Biografia del heroe</h4>
            {{heroe.bio}}
            <br>
            <br>
            {{heroe.aparicion | date : 'short'}}
            <br>
            Casa : {{heroe.casa}}
            <br>
            <br>
            <div *ngIf="isLogged">
                <a class="btn btn-primary text-white mr-3" (click)="editHeroe()">Editar Heroe</a>
                <a class="btn btn-danger text-white" (click)="deleteHeroe()">Eliminar Heroe</a>
            </div>
        </div>
    </div>
</div>